body {
    padding: 50px;
    background-color: #cfe2f3;
    font-family: 'Open Sans', sans-serif;
    color: #595959;
    font-weight: 400
}

.container {
    width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

header {
    width: 270px;
    text-align: center;
    float: left;
    align-items: center;
    display: flex;
    flex-direction: column;
}

section {
    width: 700px;
    float: right;
    padding-bottom: 50px
}

h3 {
    line-height: .5
}

p,ul,ol,table,pre,dl {
    margin: 0 0 20px
}

h1 {
    font-size: 36px
}

h2 {
    color: #393939
}

h3,h4,h5,h6 {
    color: #494949
}

a {
    text-decoration: none;
    color: #005680 ;
}

.headshot {
    max-width: 125%;
    height: auto;
}

ul.buttons {
    list-style: none;
    height: 40px;
    padding: 0;
    border-radius: 5px;
    border: 20px;
    padding-top: 30px;
}

.buttons li {
    width: 90px;
    float: left;
    height: 40px;
}